---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import TechIcons from "../components/TechIcons.astro";
const pageTitle = "Skux4life";
---

<Layout pageTitle={pageTitle}>
  <Intro />
  <div class="cool-heading">
    <div class="curved-rectangle"></div>
    <h2>Skills</h2>
  </div>

  <TechIcons />
  <div class="center">
    <a href="/works/">
      <button class="btn">My portfolio</button>
    </a>
  </div>
</Layout>
