---

---

<h1 class="typed-out">Hi, I'm Matt Ellis</h1>
<span class="badge">Web Development | Automation | QA</span>

<div class="cool-heading">
  <div class="curved-rectangle"></div>
  <h2>About</h2>
</div>
<p>
  Hi my name is Matt. I have over 5 years of experience in the software
  industry. I am especially skilled at automation and web development.
</p>
<p>
  I enjoy making things work well and am learning how to also make them look
  nice. I don't enjoy doing repetitive tasks, hence why I also enjoy automation.
</p>

<style>
  .typed-out {
    overflow: hidden;
    border-right: 0.15em solid var(--text);
    white-space: nowrap;
    margin: 0 auto;
    animation:
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--text);
    }
  }

  @keyframes typing {
    from {
      width: 20%;
    }
    to {
      width: 100%;
    }
  }
</style>
