---
import ThemeIcon from './ThemeIcon.astro';
import BrandIcon from './BrandIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <BrandIcon />
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/Skux4life/Skux4life.github.io" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>
